{% extends 'bootstrap3/bootstrap3.html' %}

{% load static %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/quizes.css' %}">
    <title>
        {% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}
    </title>
</head>
<body>

{% block bootstrap3_content %}

    {% include 'partials/_navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>