{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="login__title">Login</h1>

        <form method="POST" action="/account/login">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
            <button type="submit" class="btn btn-primary login__submit-btn">
                Login
            </button>
            {% endbuttons %}

        </form>
    </div>
</div>

{% endblock %}
